body {
    text-align: center;
    background: #edede3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
}

a {
  color: #778899;
}

h1 {
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

p {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


#main {
    padding-top: 20px;
    max-width: 540px;
    margin: 0 auto;
}

.content {
    max-width: 540px;
}

.content .yeezy-pic {
    background: #000;
}

.content img {
    max-width: 100%;
    height: auto;
}

.header {
    margin-bottom: 5%;
}

.footer {
    margin-top: 5%;
    text-align: center;
}

.notice {
    margin-top: 5%;
}

.terms {
    font-size: 10px;
    text-align: justify;
    line-height: 10px;
}

#sign-up-form {
    margin-top: 24px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: inline-block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    min-width: 100px;
}

select.form-control {
    height: calc(2.5rem - 2px);
}

.btn-primary:hover {
    color: #fff;
    background-color: #111;
    border-color: #101010;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #060606;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    border-radius: .25rem;
}

#social {
    margin-top: 20px;
}

#social img {
    width: 10%;
}

#social ul {
    list-style: none;
    display: inline;
}

#social li {
    display: inline;
}


has-feedback label~.form-control-feedback {
    top: 14px;
}

.intl-tel-input .country-list {
    z-index: 3;
}

.intl-tel-input {
    display: table-cell;
}

.input-group-addon {
    background-color: #455A64;
    color: #fff;
}

.success {
    color: #0EEA60;
}

.inputLabel {
    width: 193px;
    text-align: left;
}


