<div class="container-fluid">
    <div class="jumbotron">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
        <h2>You were verified successfully!</h2>
        <h3>Thanks for being patient during the verification process. You are now officially a candidate in our raffle.
            We will be notifying the winners of the raffle via email sometime today. Stay tuned through our social media!</h3>

    </div>

</div>

<script>
      $(document).ready(function(){

            var divs = $('.target');

            divs.hide();
      });

</script>