<div class="header">
   <h3><strong>REGISTRATION OPEN</strong></h3>
</div>
<div class="supporting-form">
  <div class="container">
      <div class="col-md-5">
        <div class="well">
          <form role="form" id="registrationForm" name="registrationForm" novalidate data-ng-submit="vm.register(registrationForm.$valid)" data-ng-disabled="vm.isSaving" class="form-horizontal">
            <h4 id="regerror">{{ vm.message }}</h4>
            <div class="alert-danger" ng-if="flash" ng-bind="flash.message"></div>
            <div class="form-group">
              <label for="register__full_name" class="control-label col-sm-4">Full name: <span style="color:red">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="register__full_name" data-ng-model="vm.full_name" name="full_name" required/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="register__email">Email: <span style="color:red">*</span></label>
              <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="email" data-ng-model="vm.email" required/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="register__phone">Mobile Phone: <span style="color:red">*</span></label>
              <div class="col-sm-8">
                <input type="tel" class="form-control" name="phone" id="phone" data-ng-model="vm.phone" required/>
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="password">Password * :</label>
                <div class="help-tip">
	                <p>You need to create a password in order to be able to login and obtain your shoe if you win!</p>
                </div>
              <div class="col-sm-8">
                <input type="password" class="form-control" name="password" id="password" data-ng-model="vm.password" required/>
              </div>
            </div>
            <div class="form-group">
              <button data-ng-disabled="registrationForm.$invalid" type="submit" class="btn submit btn-primary" id="submit_btn">Submit <i ng-show="vm.submitted" class="fa fa-spinner fa-pulse fa-fw"></i></button>
            </div>
          </form>
            <small> * Make sure you take note of your account information, you will need it to claim your shoes!</small>
        </div>
      </div>
  </div>
</div>



<script>
      $(document).ready(function(){


            var form = $('#registrationForm');


            $.validator.addMethod("pwcheck", function(value) {
                return /[A-Z]+/.test(value) && /[a-z]+/.test(value) && /[\d\W]+/.test(value) && /\S{7,}/.test(value);
            }, "Please include at least 7 characters, 1 uppercase, 1 lowercase, and 1 number or special character");

            form.validate({
              rules: {
                    debug: true,
                         password: {
                            required: true,
                            maxlength: 15,
                            pwcheck: true

                         } ,
                     },
               messages:{
                   password: {
                           required:"A password is required!"

                         },
               }
             });

		  });




</script>